# 数据

## 1. 一维数据

原子向量:各个值都是同类型的;  
**logical**, **integer**, **double**, **character**, *complex*, *raw*;  
其中 integer 和 double 也统称为 **numeric**.

- Logical

In [10]:
TRUE ; FALSE
lg = c(TRUE,TRUE,FALSE)

[1] TRUE

[1] FALSE

- Double

In [11]:
d1 = 1.1
d2 = 2
d3 = c(1.1,2,1.35,13.4)

- Integer

In [12]:
i1 = 1L 
i2 = c(1L,2L,3L,4L)

- Character

In [13]:
ch1 = 'hello'
ch2 = "hello, world!"
ch3 = c('a','b')

列表:各个值可以是不同类型的

In [7]:
list1 <- list('a',TRUE,2L,1.1,list(1,2,4))

## 2. 二维数据

- 矩阵

In [1]:
m1 <- matrix(c(1, 2, 3, 4, 5, 6, 7, 8, 9,10), nrow = 2, byrow = FALSE)

- 数据框

In [3]:
df1 =  data.frame(
  Name = c("Ken", "Ashley", "Jennifer"),
  Gender = c("Male", "Female", "Female"),
  Age = c(24, 25, 23),
  Major = c("Finance", "Statistics", "Computer Science"))
df1

  Name     Gender Age Major
1 Ken      Male   24  Finance
2 Ashley   Female 25  Statistics
3 Jennifer Female 23  Computer Science

# 3.属性

- 类型

In [4]:
class(df1)

[1] "data.frame"

In [5]:
typeof(df1)

[1] "list"

- 长度/维度

In [8]:
length(list1)

[1] 5

In [9]:
dim(df1)

[1] 3 4

## 4. 访问

- 通过数字索引

In [14]:
ch3[2]

[1] "b"

In [15]:
d2[c(1,3,4)]

[1]  2 NA NA

In [18]:
list1[1]
list1[[1]]

[[1]]
[1] "a"

[1] "a"

先行row 后列column

In [19]:
m1[1,2]; m1[1]
m1[1,]; m1[,1]

[1] 3

[1] 1

[1] 1 3 5 7 9

[1] 1 2

In [20]:
df1[1,2]; df1[1]; 
df1[1,]; df1[,1];

[1] "Male"

  Name
1 Ken
2 Ashley
3 Jennifer

  Name Gender Age Major
1 Ken  Male   24  Finance

[1] "Ken"      "Ashley"   "Jennifer"

- 通过名字访问

In [ ]:
#先起名字
d2n <- c('one'=1.1,'two'=1.35,'three'=13.4)
#也可以之后再加上名字
names(d2) <- c('one','two','three')
d2
d2['one']
d2n['one']
names(list1)<-c('i','ii','iii','iv')
list1[['yi']]

colnames(m1) <- c('one','two','three')
rownames(m1) <- c('i','ii','iii')

colnames(df1)
rownames(df1) <- c('r1','r2','r3')
df1[,'Name']
df1[,c('Name','Age')]
df1$Name
df1['r1',]
df1[c('r1','r3'),]