# 控制流

## ------------------if---------------------

In [1]:
p = 0.000001
if(p<0.05) print("significantly")

[1] "significantly"

In [2]:
ifelse(p<0.05,"significantly","NS")

[1] "significantly"

In [8]:
if (p < 0.0001) {
    label <- "***"
} else if (p < 0.001) {
    label <- "**"
} else if (p < 0.032) {
    label <- "*"
} else {
    label <- "NS"
}
label

[1] "*"

## ------------------for---------------------

In [1]:
v1 = 1:6

In [2]:
for(i in v1)
{
    print(i+1)
}

[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7

## ------------------case_when---------------------

In [6]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.6     v purrr   0.3.4
v tibble  3.1.7     v dplyr   1.0.9
v tidyr   1.2.0     v stringr 1.4.0
v readr   2.1.2     v forcats 0.5.1

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [3]:
stage <- c("III", "II 期", "Stage IA", "Stage III", "IVB","缺失")

In [7]:
case_when(
     str_detect(stage, "IV") ~ 4
    ,str_detect(stage, "III") ~ 3
    ,str_detect(stage, "II") ~ 2
    ,str_detect(stage, "I") ~ 1
    ,TRUE~0
)

[1] 3 2 1 3 4 0

## ------------------apply---------------------

In [4]:
mt2 <- matrix(data = 1:100, nrow=10,byrow = T)
mt2

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  1    2    3    4    5    6    7    8    9    10
 [2,] 11   12   13   14   15   16   17   18   19    20
 [3,] 21   22   23   24   25   26   27   28   29    30
 [4,] 31   32   33   34   35   36   37   38   39    40
 [5,] 41   42   43   44   45   46   47   48   49    50
 [6,] 51   52   53   54   55   56   57   58   59    60
 [7,] 61   62   63   64   65   66   67   68   69    70
 [8,] 71   72   73   74   75   76   77   78   79    80
 [9,] 81   82   83   84   85   86   87   88   89    90
[10,] 91   92   93   94   95   96   97   98   99   100

In [9]:
apply(mt2,1,sum)
rowSums(mt2)

 [1]  55 155 255 355 455 555 655 755 855 955

 [1]  55 155 255 355 455 555 655 755 855 955

In [11]:
apply(mt2,2,sum)
colSums(mt2)

 [1] 460 470 480 490 500 510 520 530 540 550

 [1] 460 470 480 490 500 510 520 530 540 550

In [ ]:
lapply(); tapply(); sapply(); vapply()

## ------------------map---------------------

In [26]:
df2 = as.data.frame(mt2[1:5,1:5])
df2

  V1 V2 V3 V4 V5
1  1  2  3  4  5
2 11 12 13 14 15
3 21 22 23 24 25
4 31 32 33 34 35
5 41 42 43 44 45

In [27]:
purrr::map_dfc(df2,~sum(.x))

  V1  V2  V3  V4  V5
1 105 110 115 120 125

In [28]:
map(df2,~sum(.x))

$V1
[1] 105

$V2
[1] 110

$V3
[1] 115

$V4
[1] 120

$V5
[1] 125

In [32]:
conflicted::conflict_prefer("map","purrr")

[conflicted] Will prefer purrr::map over any other package

In [29]:
map_dbl(df2,~sum(.x)) %>% unname()

[1] 105 110 115 120 125

In [30]:
map_dfr(df2,~sum(.x))

  V1  V2  V3  V4  V5
1 105 110 115 120 125

In [34]:
map_dbl(df2,function(x) {
    a=sum(x)
    return(a)
})

 V1  V2  V3  V4  V5
105 110 115 120 125